body {
  padding-top: 60px;
}

.playercard {
  padding-right: 1em;
}

.spades,
.clubs {
  color: black;
}

.diamonds,
.hearts {
  color: red;
}

.cardsuit {
  font-size: 1.2em;
}

.green {
	background-color: green;
	color: black;
}